UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
ALLOWED_ORIGINS="*"

SUDO_USERNAME=""
SUDO_PASSWORD=""

XRAY_JSON="xray_config.json"
XRAY_RUNTIME_JSON="/usr/local/etc/xray/config.json"
XRAY_SUBSCRIPTION_URL_PREFIX=""
XRAY_SUBSCRIPTION_PATH="sub"

FLEW_EDITION="free"
FLEW_FEATURES=""
XPANEL_ENABLED=False

FLEW_DOMAIN=""
FLEW_TARGET_CHECK_IPS=""

SUB_PROFILE_TITLE="Flew"
SUB_SUPPORT_URL=""
SUB_UPDATE_INTERVAL=12

LOGIN_CAPTCHA_ENABLED=False
